In [3]:
a=3
string1 = '''first string'''
string2="second string"
string3 ='third string'
len(string1)

12

string can be written in three forms "b",'b','''b'''

Indexing

In [4]:
print(string1[0])
print(string2[-1])

f
g

In [5]:
string2[-5]

't'

In [6]:
str = 'My name is urvi rav'
print(str[11:15])

urvi

In [7]:
print(str.upper())
print(str.lower())
str.capitalize()

MY NAME IS URVI RAV
my name is urvi rav

'My name is urvi rav'

In [8]:
print(str[-9:-4])
print(str[:])

 urvi
My name is urvi rav

In [9]:
print(str[::2])

M aei rirv

In [10]:
string = str[11:15]
string.capitalize()

'Urvi'

In [11]:
'I am' + ' ' + string.capitalize() + ' rav'

'I am Urvi rav'

In [12]:
str[:11] + str[11:].upper()

'My name is URVI RAV'

In [13]:
str.count('r')

2

In [14]:
a = '5'

In [15]:
a*2

'55'

In [16]:
int(a)*2

10

lists

In [17]:
list_1 = ['test',9,5.7,"other data types also"]

In [18]:
list_1[1] = 10 #editing the value at index 1

In [19]:
list_1

['test', 10, 5.7, 'other data types also']

In [20]:
list_2= [2,5,3,8,10]

In [21]:
list_2[2:] = [14,15,16]

In [22]:
list_2

[2, 5, 14, 15, 16]

In [23]:
list_2[1:4] = [1,2,3]

In [24]:
list_2

[2, 1, 2, 3, 16]

In [25]:
len(list_2)

5

In [26]:
print(max(list_2))
print(min(list_2))
print(sum(list_2))
sorted(list_2)

16
1
24

[1, 2, 2, 3, 16]

In [27]:
list_3=list_2 + [11,22,33,44]

In [30]:
list_3.append(23)
list_3.append('i am here') #adding elements

In [31]:
list_3

[2, 1, 2, 3, 16, 11, 22, 33, 44, 23, 'i am here', 23, 'i am here']

In [37]:
list_3.pop()

'i am here'

In [38]:
list_3

[2, 1, 2, 3, 16, 11, 22, 33, 44, 23]

In [39]:
list_3.remove(11)

In [40]:
list_3

[2, 1, 2, 3, 16, 22, 33, 44, 23]

## #Day 2

In [1]:
dict_items = {'num1': 23, 'num2': 44,'num3':65}

In [2]:
print(dict_items)

{'num1': 23, 'num2': 44, 'num3': 65}

In [3]:
d3 = {k.upper():v**2 for k,v in dict_items.items()}

In [4]:
d3

{'NUM1': 529, 'NUM2': 1936, 'NUM3': 4225}

In [6]:
number1 = int(input("enter the number1 : "))
number2 = int(input("enter the number2 : "))

try:
    ans = number1/number2
    print(ans)
except ZeroDivisionError:
    print("enter a non zero number")
except TypeError:
    ans = int(number1)/int(number2)
    print(ans)
finally:
    print("Task Completed")

0.5
Task Completed

user defined function

In [7]:
def hi():
    print("hello")

In [8]:
hi()

hello

In [9]:
def func():
    return dict_items

In [10]:
func()

{'num1': 23, 'num2': 44, 'num3': 65}

In [11]:
def add(a,b):
    return a + b

In [12]:
add(4,5)

9

In [13]:
def up(str):
    return str.upper()

In [14]:
up('hello')

'HELLO'

In [15]:
str = 'urvi'
str[::-1].upper()

'IVRU'

In [16]:
def rev(s):
    t= s[::-1].upper() 
    return t

In [17]:
rev('urvirav')

'VARIVRU'

In [30]:
def fact(n):
    fac = 1
    for i in range(1,n+1):
        fac = fac*i
    return f"the factorial of {n} is {fac}"

In [31]:
fact(4)

'the factorial of 4 is 24'

In [32]:
def a(*arg):
    for i in arg:
        print(i)

In [33]:
a(1,"string",4)

1
string
4

In [38]:
def add(*arg):
    sum =0
    for i in arg:
        sum = sum + i
    return sum

In [39]:
add(1,3,5,7)

16

In [40]:
def new(**kw):
    print(kw)

In [46]:
dict = new(a=1,b=2,c=3)
dict

{'a': 1, 'b': 2, 'c': 3}

In [48]:
def con(**kw):
    return {i.upper() : kw[i]**2 for i in kw}

In [49]:
n = con(a=1,b=2,c=3)

In [50]:
n

{'A': 1, 'B': 4, 'C': 9}

In [51]:
def fact(n):
    if n==0:
        return 1
    else:
        return n * fact(n-1)

In [52]:
fact(4)

24

In [53]:
factorial(5)

120

## lambda function

In [1]:
a = lambda : print("hello")

In [2]:
type(a)

function

In [9]:
c = lambda a,b : (a+b)**2

In [10]:
c(3,5)

64

In [11]:
def square(x):
    return x**2
my_list =[1,2,3,4]
squared_list = map(square,my_list)
print(list(squared_list))

[1, 4, 9, 16]

In [13]:
squaredlist = map(lambda x : x**2, my_list)
print(list(squaredlist))

[1, 4, 9, 16]

In [15]:
!python -m pip install numpy

Collecting numpy
  Downloading numpy-1.24.3-cp310-cp310-win_amd64.whl (14.8 MB)
Installing collected packages: numpy
Successfully installed numpy-1.24.3

  WARNING: The script f2py.exe is installed in 'c:\Users\Urvi\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.3; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Users\Urvi\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [17]:
import numpy as np

In [20]:
a = np.array([1,2,3,4])

array([1, 2, 3, 4])